<?xml version="1.0" encoding="UTF-8"?>
<settings
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
        xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.ossrh_login}</username>
            <password>${env.ossrh_pass}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>release</id>
            <properties>
                <gpg.passphrase>${env.gpg_passphrase}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

</settings>
