name: Release

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - shell: bash
        env:
          gpg_private_key: ${{ secrets.gpg_private_key }}
        run: |
          printf "%s" "$gpg_private_key" | gpg --import --batch --yes
      - name: Release with nexus-staging-maven-plugin
        env:
          gpg_passphrase: ${{ secrets.gpg_passphrase }}
          ossrh_login: ${{ secrets.central_login }}
          ossrh_pass: ${{ secrets.central_pass }}
        run: |
          echo "CENTRAL_LOGIN length: ${#central_login}"
          echo "CENTRAL_PASS length: ${#central_pass}"
          mvn -B -s .mvn/settings.xml -P release deploy --file pom.xml
